body {
  font-family: "Roboto", Helvetica;
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 1000;
  padding: 10px;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 3px;
}

h4 {
  font-size: 15px;
  font-weight: 900;
  margin: 0 3px;
}

.page-wrapper {
  padding: 20px 20px 0px 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  width: 100vw;
}

.item_container {
  margin: 0 5px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

.item_card {
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  padding: 10px;
}

.item_image {
  width: 180px;
  height: 175px;
  object-fit: cover; 
  object-position: center;
  border-radius: 10px; 
}

.order-column {
  border-radius: 20px 20px 0px 0px;
  padding: 0px 20px;
  overflow-y: auto;
  background-color: #c8c8c8;
}

.items-column {
  padding: 0px 20px;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 25px;
}

li {
  font-size: 18px;
  font-weight: 500;
}

#cart {
  margin-top: 15px;
  margin-left: 10px;
}

#cart-total {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-weight: 700;
}

.buttons {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  width: 90%;
}

button {
  height: 40px;
  border: none;
  border-radius: 8px;
  font-weight: 900;
  font-size: 18px;
}