*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}




.page-wrapper {
  margin: 20px;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  overflow-wrap: auto;
  gap: 10px;
  max-width: 100%
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-header {
  background-color: #FF8989;
  border-radius: 5px 5px 0px 0px;
}

.ready-card-header {
  background-color: #A7D477;
  border-radius: 5px 5px 0px 0px;
}

.card-body {
  padding: 10px;
}

.item-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 7px;
}

.item-row h2 {
  display: inline-block;
}