<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="two-column">
        <div class="order-column">
            <h2>Orders Column</h2>
            
            {% for item in orders %}
                {% if item[2] == 1: %}
                    <div class="ready-orders-card">
                        <form action="/change_order" method="post" class="orders-coloumn-form">
                            <input type="hidden" name="order_id" value={{ item[0] }}>

                            <div class="button-container">
                                <h3>{{ item[1] }}</h3>
                                <button type="submit" name="change" value="delete" class="order-coloumn-delete">Delete</button>
                                <button type="submit" name="change" value="ready" class="order-coloumn-ready">Ready</button>
                            </div>

                        </form>
                    </div>
                {% else %}
                    <div class="orders-card">
                        <form action="/change_order" method="post" class="orders-coloumn-form">
                            <input type="hidden" name="order_id" value={{ item[0] }}>

                            <div class="button-container">
                                <h3>{{ item[1] }}</h3>
                                <button type="submit" name="change" value="delete" class="order-coloumn-delete">Delete</button>
                                <button type="submit" name="change" value="ready" class="order-coloumn-ready">Ready</button>
                            </div>

                        </form>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        <div class="numpad-column">
            <form action="/add_order" method="post" class="numpad-form">
                
                <input type="text" id="display" name="order_number" class="numpad-input" readonly>

                <div class="numpad">


                    <button class="numpad-button" type="button" onclick="addNum(1)">1</button>
                    <button class="numpad-button" type="button" onclick="addNum(2)">2</button>
                    <button class="numpad-button" type="button" onclick="addNum(3)">3</button>
                    <button class="numpad-button" type="button" onclick="addNum(4)">4</button>
                    <button class="numpad-button" type="button" onclick="addNum(5)">5</button>
                    <button class="numpad-button" type="button" onclick="addNum(6)">6</button>
                    <button class="numpad-button" type="button" onclick="addNum(7)">7</button>
                    <button class="numpad-button" type="button" onclick="addNum(8)">8</button>
                    <button class="numpad-button" type="button" onclick="addNum(9)">9</button>
                    <button class="numpad-button" type="reset" onclick="addNum(0)">&#10008;</button>
                    <button class="numpad-button" type="button" onclick="addNum(1)">0</button>
                    <button class="numpad-button" type="submit">&#10004;</button>
                </div>
            </form>

            <script>
                function addNum(num) {
                    document.getElementById('display').value += num;
                }
            </script>
        </div>
    </div>
</body>
</html>
