<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Order System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    

</head>
<body>
    <div class="twocolumn">
        <div class="ordercolumn">
            <h2>Orders Column</h2>
        </div>
        <div class="numpadcolumn">
            <form action="/add_order" method="post">
                
                <input type="text" id="display" name="order_number" readonly>

                <div class="numpad">


                    <button type="button" onclick="addNum(1)">1</button>
                    <button type="button" onclick="addNum(2)">2</button>
                    <button type="button" onclick="addNum(3)">3</button>
                    <button type="button" onclick="addNum(4)">4</button>
                    <button type="button" onclick="addNum(5)">5</button>
                    <button type="button" onclick="addNum(6)">6</button>
                    <button type="button" onclick="addNum(7)">7</button>
                    <button type="button" onclick="addNum(8)">8</button>
                    <button type="button" onclick="addNum(9)">9</button>
                    <button type="reset" onclick="addNum(0)">&#10008;</button>
                    <button type="button" onclick="addNum(1)">0</button>
                    <button type="submit">&#10004;</button>
                </div>
            </form>

            <script>
                function addNum(num) {
                    document.getElementById('display').value += num;
                }
            </script>
        </div>
    </div>
</body>
</html>
