<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Order System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    

</head>
<body>
    <div class="twocolumn">
        <div class="ordercolumn">
            <h2>Orders Column</h2>
        </div>
        <div class="numpadcolumn">
            <h2>Numpad Column</h2>
        </div>
    </div>
</body>
</html>
