<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    

</head>
<body>
    <div class=customer-screen-container>
        <div class="preparing-column">
            <h4>Preparing..</h4>
            {% for item in not_ready_orders %}
                <h1>test</h1>
            {% endfor %}
        </div>
        <div class="please-collect-column">
            <h4>Please Collect..</h4>
            {% for item in ready_orders %}
                <h1>test</h1>
            {% endfor %}
        </div>
        <div class="image-column">

        </div>
    </div>
</body>
</html>