<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <div class="page-wrapper">
        <h1>Restraunt Order System</h1>
        <div class="card-layout">
            
            <a href="cashier_screen">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Cashier Screen">
                    <h2>Cashier Screen</h2>
                </div>
            </a>
            <a href="kitchen_screen">
            <div class="card">
                <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Chief Screen">
                <h2>Kitchen Screen</h2>
            </div>
            </a>
            <a href="customer_screen">
            <div class="card">
                <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Customer Screen">
                <h2>Customer Screen</h2>
            </div>
            </a>
            <a href="">
            <div class="card">
                <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Admin Screen">
                <h2>Admin Screen</h2>
            </div>
            </a>
        </div>
    <div>
</body>
</html>