<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='kitchenstyle.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://kit.fontawesome.com/34724dd888.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="page-wrapper">
        <div class="container">
            {% for sale_num, details in sales.items() %}
                <div class="card">
                    {% if details.status is none %}
                        <div class="card-header">
                            <h1>Order #{{ sale_num }}</h1>
                        </div>
                        <h2>Status: Not Ready</h2>
                    {% else %}
                        <div class="ready-card-header">
                            <h1>Order #{{ sale_num }}</h1>
                        </div>
                        <h2>Status: Ready</h2>
                    {% endif %}
                    {% for item in details['items'] %}
                        {% if item['status'] is none %}
                            <i class="fa-regular fa-circle-check"></i>
                            <h2 style="display: inline-block; vertical-align: middle;">{{ item['name'] }}</h2>
                            <br>
                        {% else %}
                            <i class="fa-solid fa-circle-check"></i>
                            <h2 style="display: inline-block; vertical-align: middle;">{{ item['name'] }}</h2>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>