<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='newcashierstyle.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <div class="page-wrapper">
        <div class="items-column">

            {% for category in categories %}
                <h1>{{ category["name"] }}</h1>
                <div class="item_container">
                {% for item in items %}

                    {% if item["category"] == category["id"] %}
                        <div class="item_card">
                            <img class="item_image" src="{{ url_for('static', filename='images/placeholder.png') }}" alt="item_image">
                            <h2>{{ item["item_name"] }}</h2>
                        </div>
                    {% endif %}
                
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>